<div class="header-login">
  <span style="margin-left: 1em; line-height: 35px;"><%= image_tag 'mdev.png', width: '80px' %></span>
</div>

<div class="form-login">
  <div style="width: 50%; float: left; background: #2f2f2f; height: 250px; color: #fff; text-align: center; padding-top: 3em;">
   <%= image_tag 'mdev.png', width: '250px' %>
   <h3><b>virtual showcase</b></h3>
  </div>
  <div style="width: 50%; float: left; padding-left: 2em; padding-top: 2em;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :senha %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :lembre_me %>
        </div><br>
      <% end %>

      <div class="actions">
        <%= f.submit "Entrar", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>